<div class="container">
  <h1>Eventos Santiago de Compostela</h1>
  <div class="d-flex flex-wrap">
    <div
      *ngFor="let event of events"
      class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 p-1"
      style=" cursor: pointer;"
      [routerLink]="['/event', event.id]"
    >
    <div class="card animate__animated animate__bounce animate__fadeIn h-100 ">
      <img
        [src]="event.images[0].url"
        class="card-img-top"
        [alt]="event.name"
      />
      <div class="card-body">
        <h5 class="card-title">{{ event.name }}</h5>
        <p class="card-text">
          <small class="text-muted" *ngIf="event.dates.start.dateTime">{{
            event.dates.start.dateTime | date: "MMM d, y, h:mm:ss a"
          }}</small>
          <small class="text-muted" *ngIf="!event.dates.start.dateTime">
            {{ event.dates.start.localDate | date: "MMM d, y" }}
          </small>
        </p>
        <p class="card-text">
          <span
            class="badge badge-pill"
            style="color: #fff; background-color: #212121"
            *ngFor="let venue of event._embedded?.venues"
            >{{ venue.name }}</span
          >
        </p>
        <p class="card-text">
          <small class="text-muted">{{ event.dates.status.code }}</small>
        </p>
      </div>

    </div>
    </div>
  </div>
</div>
